# SPDX-FileCopyrightText: 2026 Tsuyomi Contributors
# SPDX-License-Identifier: Apache-2.0

* @Xfire233
/tsuyomi-android/ @Xfire233
/tsuyomi-protocol/ @Xfire233
/tsuyomi-extensions/ @Xfire233
/.github/ @Xfire233
/README.md @Xfire233
/THIRD_PARTY_NOTICES.md @Xfire233
