# SPDX-FileCopyrightText: 2026 Tsuyomi Contributors
# SPDX-License-Identifier: Apache-2.0

* text=auto eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.jar binary
*.keystore binary
*.jks binary
*.apk binary
*.aab binary
*.hxp binary
*.bundle binary

tsuyomi-android/source/quickjs-runtime/src/main/cpp/quickjs-ng/** linguist-vendored=true
